# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/Html/dev/www - Copy/
/Assets/
/Design/
/Docs/
/Html/prod/
/Html/dev/scss/
/Html/dev/node_modules/
/Html/dev/plugins/
/Html/dev/www/lib/
